FriBot-Frontend/package-lock.json
FriBot-Frontend/package.json
FriBot-Frontend/angular.json
FriBot-Frontend/.editorconfig
FriBot-Frontend/tsconfig.app.json
FriBot-Frontend/tsconfig.json
FriBot-Frontend/tsconfig.spec.json
FriBot-Frontend/src/assets/config.json
