<div class="center">
    <div 
        class="chat"
        (style)="[displayChat ? 'display: none;' : 'display:none;']"
        >
            <div class="contact bar">
                <div class="pic fri"> </div>
                <div style="display: flex;">
                    <div class="name">
                        Fri UNIZA
                    </div>
                    <div class="control-buttons">
                        <i (click)="displayChat=false"
                        >
                            <fa-icon [icon]="faMinimize"></fa-icon>
                        </i>
                    </div>
                </div>
        </div>

        <div class="messages" id="chat">
            <div class="time">
                Dnes o {{startTime}}
            </div>

            <div *ngFor="let message of messages">
                <div class="message {{message.author}}" mat-button matTooltip="Info about the action">
                    {{ message.text }}
                </div>
            </div>

            <div *ngIf="writing" class="message stark">
                <div class="typing typing-1"></div>
                <div class="typing typing-2"></div>
                <div class="typing typing-3"></div>
            </div>

        </div> 
        <div style="height: 85px"> 
            <div class="input">
              <form [formGroup]="reactiveForm">
                <input  
                    #messageText
                    type="text"                      
                    placeholder="Tu napíš svoju správu!" 
                    (keyup.enter)="addStudentMessage(messageText.value)"
                    style="width: 75%;"
                    formControlName="message"
                />
                <i (click)="addStudentMessage(messageText.value)">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                </i>
              </form>
            </div>
        </div>
    </div>
</div> 